.header {
  background-color: #f5dfb2;
  text-align: center;
  position: sticky;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;


}


.sidebar {
  width: 30%;
  height: 80%;
  float: left;
  margin: 10px;
  background-color: lightblue;
  padding-left: 5px;
  padding-right: 5px;

}


.sidebar h5 {
  font-size: 20px;
  color: #f5dfb2;
}

.sidebar p {
  color: white;
}
